<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mua dong khong lanh</title>
</head>
<body>
    <h1> Admin đăng nhập</h1>
    <form method = "post"> 
        <label>Tên admin</label>
        <input type = "text" name = "username">
        <br>

        <label>Password</label>
        <input type = "password" name = "password">
        <br>

        <input type = "submit" value = "Submit">
    </form>
</body>
</html>