<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <img src ="{{service.image}}" alt = "image" height= "400">
    <br>
    <h1>{{service.name}} </h1>
    <p> <b>Năm sinh:</b> {{service.yob}}</p>
    <p> <b>Chiều cao: </b> {{service.height}}</p>
    <p> <b>Số điện thoại:</b> {{service.phone}}</p>
    <p> <b>Địa chỉ:</b> {{service.address}}</p>
    <p> <b>Mô tả:</b> {{service.description}}</p>
    <p> <b>Số đo 3 vòng:</b> {{service.measurements[0]}} - {{service.measurements[1]}} - {{service.measurements[2]}}</p>
    <a href="{{url_for('order', service_id = service.id)}}">Yêu cầu dịch vụ</a>

</body>
</html>