<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Mùa Đông Không Lạnh </h1>
    <a href="{{url_for('search', g = 0)}}">Bạn là nam</a>
    <a href="{{url_for('search', g = 1)}}">Bạn là nữ</a>
    <br>
    <a href="{{url_for('firstmales')}}" target = #>Top 10 nam khach hang dat gia</a>
</body>
</html>