<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mua dong khong lanh</title>
</head>
<body>
    <h1> Search page</h1>
    {% for service in all_service %}
    <div>
        <!-- {% if service.gender== 1 %}
        <img src="../static/image/male-profile.jpg">
        {% else %}
        <img src="../static/image/female-profile.jpg">
        {% endif %} -->
        <img src="{{service.image}}" alt="image" height ="300">
        <br>
        <b>Tên: {{service.name}}</b>
        <p>Năm sinh: {{service.yob}}</p>
        <p>Chiều cao: {{service.height}}</p>
        <a href="{{url_for('detail', service_id = service.id )}}">Chi tiết</a>
        <hr>
    </div>
    {% endfor %}
</body>
</html>