<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
</head>
<body>
    <h1> Đăng ký </h1>
    <form method = "post">
        <label>Full name</label>
        <input type = "text" name = "fullname" required> (required)
        <br>

        <label>Email</label>
        <input type = "email" name = "email" required> (required)
        <br>

        <label>User name</label>
        <input type = "text" name = "username" required> (required)
        <br>

        <label>Password</label>
        <input type = "password" name = "password" required> (required)
        <br>

        <input type = "submit" value = "Submit">
    </form>
</body>
</html>