<div class="row d-flex justify-content-center p-2 m-2">
        <div class="col-sm-3 ml-4 border-secondary">
          <div class="card">
              <h5 class="card-header">Gói cơ bản</h5>
            <div class="card-body">
              <p class="card-text">
                  <span class="d-block text-dark"> Dẫn bạn về nhà </span>
                  <span class="d-block text-dark"> Ăn cơm cùng gia đình </span>
                  <span class="d-block text-muted"> Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</span>
                  <span class="d-block text-muted"> Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp </span>
              </p>
            </div>
              <div class="card-footer bg-light d-flex justify-content-end">
                <a href="#" class="btn btn-dark"><i class="fas fa-heart"></i> Tìm hiểu thêm </a>
              </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
                <h5 class="card-header bg-secondary text-white">Gói tiêu chuẩn</h5>
            <div class="card-body">   
              <p class="card-text">
                    <span class="d-block text-dark"> Dẫn bạn về nhà </span>
                    <span class="d-block text-dark"> Ăn cơm cùng gia đình </span>
                    <span class="d-block text-dark"> Cho phép nắm tay thể hiện quan tâm </span>
                    <span class="d-block text-muted"> Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp </span>
              </p>
            </div>
                <div class="card-footer bg-light d-flex justify-content-end">
                    <a href="#" class="btn btn-dark"><i class="fas fa-heart"></i> Tìm hiểu thêm </a>
                </div>
            
          </div>
        </div>
        <div class="col-sm-3 mr-4">
                <div class="card">
                    <h5 class="card-header bg-dark text-white">Gói cao cấp</h5>
                  <div class="card-body">  
                    <p class="card-text">
                          <span class="d-block text-dark"> Dẫn bạn về nhà </span>
                          <span class="d-block text-dark"> Ăn cơm cùng gia đình </span>
                          <span class="d-block text-dark"> Cho phép nắm tay thể hiện quan tâm </span>
                          <span class="d-block text-muted"> Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp </span>
                    </p>
                </div>
                        <div class="card-footer bg-light d-flex justify-content-end">
                            <a href="#" class="btn btn-dark"><i class="fas fa-heart"></i> Tìm hiểu thêm </a>
                        </div>
                  </div>
               
              </div>
      </div>