<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <p> My full name: Nguyen Thi Ngoc Anh.
            <br>
            DoB: 25/3/1995.
                <br>
            Hobbies: listening to music, reading books, novels and mangas, watching dramas, seeing cute pets
                <br>
            Things that matters: Maths ( One day I wanna teach my kids Maths :D), some mangas and movies really change my life
                <br>
            Important people: my family, my friends and my crush (thinking about him makes me smile, although he is very cold to me >.<).
            <br>
            I'm just an ordinary person, but If you wanna know more about me, let's be my friend.
            <br>
        </p>
    </div>
</body>
</html>