<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>C4E Blog</h1>
    {% for post in posts %}
        <div>
            <!-- jinja2 -->
            <h3> {{ post.title }}</h3>
            <!-- tuong duong voi post['title'] -->
            <p>
                {{ post.content }}
            </p>
            <i> By:
                <!-- Conditional expression -->
                {{ "Mr" if post.gender == 1 else "Miss"}}
                {{ post.author }}
            </i>
        <hr>
        </div>
    {% endfor %}
    <!-- <div>
        <h3> Thơ xàm</h3>
        <p> 
            Ngồi buồn
            <br>
            Ngồi vui
        </p>
        <i> By: Liên </i>
    </div> -->
</body>
</html>